<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard Empleado</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<h2>Bienvenido, <span th:text="${empleado.nombre}"></span></h2>


<a href="/empleado/logout">Cerrar sesión</a>

<h3>Pedidos asignados</h3>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Estado</th>
        <th>Total</th>
        <th>Acciones</th>
    </tr>

    <tr th:each="p : ${pedidos}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.cliente.nombre}"></td>
        <td th:text="${p.estado}"></td>
        <td th:text="${p.total}"></td>
        <td>
            <a th:href="@{'/empleado/dashboard/pedido/' + ${p.id}}">Ver</a>
        </td>
    </tr>

</table>

<h3>Total de pedidos</h3>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Estado</th>
        <th>Total</th>
        <th>Acciones</th>
    </tr>

    <tr th:each="p : ${totalPedidos}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.cliente.nombre}"></td>
        <td th:text="${p.estado}"></td>
        <td th:text="${p.total}"></td>
        <td>
            <a th:href="@{'/empleado/dashboard/pedido/' + ${p.id}}">Ver</a>
        </td>
    </tr>

</table>

</body>
</html>
